* {
    margin: 0;
    padding: 0;
    text-align: center;
}


body {
    display: flex;
    flex-direction: column;
    height: 130vh;
    background: linear-gradient(180deg, darkblue, rgb(0, 136, 255) 30%);
    text-align: right;
    align-items: center;
    justify-content: center;
    color: #fff;
}


.head {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: auto;
    margin-top: 5%;
}

.head header.allah {
    font-size: xx-large;
    font-weight: 700;
}

.head header.main-title {
    font-size: xxx-large;
    font-weight: 900;
}

.head p {
    font-size: large;
    font-weight: 700;
}

#head-hiri {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1.4rem;
}

.head #head-city {
    font-size: 400%;
}

.cities {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.cities select {
    outline: none;
    width: 30%;
    border-radius: 6px;
    text-align: center;
    font-size: large;
    color: darkblue;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 900;
    padding: 0 3%;
    border: none;
}

.prayers {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.5%;
    border-radius: 8px;
}

.prayers ul {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 0.1%;
    row-gap: 0.4%;
    align-items: center;
    list-style: none;
    margin: auto;
    font-weight: 700;
    font-size: large;
}

.prayers li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1%;
    height: 100%;
    width: 70%;
    background-color: #fff;
}

.prayers li p {
    color: darkblue;
    width: 100%;
    font-weight: 900;
}

.prayers p.prayers-title {
    padding: 0.8%;
    background: darkblue;
    color: #fff;
}



body.div {
    margin-bottom: 1%;
}

.footer {
    margin-top: auto;
    padding: 0.5%;
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1%;
    background-color: darkblue;
    width: 99%;
}

.footer .footer-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    column-gap: 6%;
    row-gap: 1%;
}

.footer .footer-inner div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
}

.footer .footer-inner div p,
.footer .footer-inner div a {
    font-size: large;
    font-weight: 700;
}

.footer .footer-inner div a {
    color: #fff;
}

.footer .footer-inner div a:hover {
    color: rgb(149, 0, 255);
}

.loading {
    font-size: 2rem;
    padding: 1%;
    border-radius: 6px;
    color: rgb(0, 32, 76);
    width: 60%;
}

.loading::before {
    content: "يرجى الإنتظار";
}
