@font-face {
    font-family: "Zain";
    src: url("./Zain/Zain-Bold.ttf");
}

@font-face {
    font-family: "Zain-Black";
    src: url("./Zain/Zain-ExtraBold.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: "Zain";
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    height: 100vh;
    background: linear-gradient(to bottom, #00379c, #9acef8);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5%;
    text-align: center;
}

.header .allah {
    font-size: 17px;
}

.header .main-title {
    font-size: 33px;
    font-family: "Zain-Black";
}

.header p {
    font-size: 20px;
}

.empty {
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty p {
    text-align: center;
    font-size: 27px;
}

.loading {
    font-size: 27px;
}

.loading::before {
    content: "جاري التحميل";
}

select {
    outline: none;
    border: none;
    width: 70%;
    padding: 4px;
    font-size: 17px;
    border-radius: 4px;
    cursor: pointer;
}

.location-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#head-city {
    font-size: 30px;
    font-family: "Zain-Black";
}

#head-state {
    font-size: 24px;
    font-family: "Zain-Black";
}

.prayers {
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.prayers .prayers-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
    background-color: #1d1db3;
    border-radius: 5px;
    list-style: none;
}
.prayers .prayers-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 20px;
}
.prayers .prayers-list li .prayer-title {
    font-family: "Zain-Black";
}
